.film-card {
  --card-border-radius: 1.5rem;
  font-size: x-large;
  max-width: 350px;
}

.film-card > img {
  width: 80%;
  display: block;
  align-items: center;
}

.card-footer {
  line-height: normal;
}

.card-body:hover > img {
  opacity: 0.3;
}

.card-body:hover .favourite {
  visibility: visible;
}

.favourite {
  z-index: 1;
  position: absolute;
  bottom: 50%;
  left: 36%;
  visibility: hidden;
}
