<app-search-box></app-search-box>

<div class="card-row">
  <div class="card-col">
    <app-film-card></app-film-card>
  </div>
  <div class="card-col">
    <app-film-card></app-film-card>
  </div>
  <div class="card-col">
    <app-film-card></app-film-card>
  </div>
  <div class="card-col">
    <app-film-card></app-film-card>
  </div>
  <div class="card-col">
    <app-film-card></app-film-card>
  </div>
  <div class="card-col">
    <app-film-card></app-film-card>
  </div>
  <div class="card-col">
    <app-film-card></app-film-card>
  </div>
  <div class="card-col">
    <app-film-card></app-film-card>
  </div>
</div>
