<nb-layout>
  <!--Navigation Bar at the App Level-->
  <nb-layout-header class="nav-bar">
    <a routerLink="/">
      <img class="logo" src="../assets/filmmudle-logo-full.png" />
    </a>
    <div class="nav-links">
      <a routerLink="/favourites">Top Movies</a>
      <a routerLink="/favourites">Favourites</a>
      <a routerLink="/favourites">Watchlist</a>
    </div>
  </nb-layout-header>

  <nb-layout-column style="padding: 15px">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
