.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-col {
  max-width: 355px;
  margin: 25px 20px;
}

.search-bar {
  display: block;
}

#search {
  height: 100px;
  font-size: xx-large;
  font-weight: 300;
  padding-left: 80px;
}

#search::placeholder {
  height: 100px;
  font-size: xx-large;
  overflow: visible;
}

#search-button {
  position: relative;
  left: 46%;
  margin-top: 3rem;
}

#search-icon {
  position: relative;
  --icon-font-size: 2.5rem;
  top: 66px;
  left: 15px;
}
